@import "reset";

header {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  
}

.contact {
  background-color: #687daa;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 100%;
  

  span {
    color: #fff;
    margin-left: 4px;
    text-transform: uppercase;
    font-size: 9px;
    &.bold {
      font-weight: bold;
    }
  }
}

.menu-nav {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  height: 162px;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  &__images {
    max-width: 247px;
    width: 100%;
    height: 52px;

    img {
      width: 247px;
    }
  }

  &__search {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 475px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgba(244, 245, 245, 1);

    input {
      flex: 1;
      width: 100%;
      border-radius: 20px;
      background: rgba(244, 245, 245, 1);
      padding: 0.8rem;
      outline: 0;
      border: none;
    }

    img {
      margin-right: 10px;

      &:placeholder {
        padding-left: 16px;
      }
    }
  }

  &__signature {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 13px;
    color: rgba(196, 196, 196, 1);
  }

  &__visitor {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 400;
    font-size: 13px;
    color: #3A3A3A;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    a {
      color: #7C91C8;
      margin-left: -25px;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      font-family: 'Red Hat Display';
      font-size: 13px;
      font-weight: 700;
      line-height: 14px;
      letter-spacing: 0em;
      text-align: left;

    }
  }

  &__cart {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 13px;
    color: #3A3A3A;
  }

  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    margin: 1rem auto;
    width: 100%;

    color: #3A3A3A;;
    font-weight: 400;
    font-size: 13px;

    a {
      text-decoration: none;
      color: inherit;

      &.active {
        color: #bbd147;
        font-weight: bold;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
    }
  }
}

.banner {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  background-image: url(../images/banner.png);
  background-repeat: no-repeat;
  background-color: #77e5e7;
  background-size: contain;
  height: 300px;
  justify-content: space-between;
  align-items: center;

  span {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 8px;
    margin: 0 12px;
    cursor: pointer;
    transition: filter 0.3s;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    &:hover {
      filter: brightness(0.9);
    }
  }
}

.tips {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  &__item {
    display: flex;
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;

    p {
      color: #727272;
      font-weight: 700;
      font-size: 14px;
    }

    span {
      font-size: 13px;
      color: #868686;
      font-weight: 400;
    }
  }
}

.options{
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  align-items: flex-end;
  justify-content: space-between;

  &__meidicina{
    display: flex;
    flex-direction: column;
    
  }
  p{
    font-weight: 700;
    display: flex;
    font-size: 13px;
    color: #3A3A3A;
    justify-content: space-around;
  }

}
.help{
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem;
}
.title{
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  justify-content: space-between;
  a{
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 110%;
    display: flex;
    align-items: center;
    text-align: right;
    text-decoration-line: underline;
    color: #BBD147;
  }
    h1 {
      font-size: 28px;
      color: #3a3a3a;
      padding: 1rem 0;
    }
  }

.vendas {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
    
  &__lojas{
    border: 0.2px solid #EDEDED;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    height: 436px;
    width: 254px;
    display: flex;
    
    p{
      padding: 0px 16px 1px 16px;
      font-family: 'Red Hat Display';
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;
      letter-spacing: 0em;
      text-align: left;

    
    img{
      padding: 16px 0px 0px 0px;
      align-items: center;
    
    &__setas{
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      padding: 8px;
      margin: 0 12px;
      cursor: pointer;
      transition: filter 0.3s;
      box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
      &:hover {
        filter: brightness(0.9);
        }
      }
    }
  }
}
}
.ponto{
  display: flex;
  justify-content: center;
  margin-top: 28px;
}

.novidades{
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 72px auto;
  padding: 2rem;
}

.carousel{
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.empresas{
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.marcas{
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.blog{
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 72px;
  &__saude{
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    background:  #F4F5F5;
    border-radius: 0px 0px 5px 5px;
  }
  img{
    height: 300px;
    border-radius: 5px 5px 0px 0px;
  }
  span{
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 110%;
    display: flex;
    align-items: center;
    color: #BBD147;
    padding: 16px 325px 8px 16px;
  }
  a{
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 110%;
    display: flex;
    align-items: center;
    color: #3A3A3A;
    text-decoration: none;
    padding: 8px 258px 15px 16px;
  }
  p{
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    color: #868686;
    padding: 16px 24px 24px 16px;
  }
}
.clientes{
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  padding-top: 112px;
  padding-bottom: 63px;
}
  // about
.about {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;

  h2 {
    font-size: 28px;
    color: #3a3a3a;
    padding: 1rem 0;
    text-transform: uppercase;
  }

  p {
    font-size: 16px;
    padding: 1rem 0;
    color: #868686;
    max-width: 713px;
    text-align: center;
    font-weight: 400;
  }
}
// newletter
.newsletter {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  background: #687daa;

  h2 {
    font-size: 28px;
    color: #fff;
    padding: 1rem 0;
    text-transform: uppercase;
  }

  p {
    font-size: 16px;
    padding: 1rem 0;
    color: #fff;

    span {
      font-weight: 700;
    }
  }

  &__login {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .user-input,
    .user-email {
      display: flex;
      padding: 12px;
      border-radius: 50px;
      background: #fff;
      width: 304px;

      img {
        margin-right: 6px;
      }

      .divider {
        width: 1px;
        margin-right: 6px;
        background-color: #868686;
      }
    }

    input {
      border: none;
      outline: none;
      width: 100%;
    }

    button {
      border: none;
      text-align: center;
      padding: 12px;
      border-radius: 50px;
      background: #bbd147;
      width: 304px;
      text-transform: uppercase;
      color: #fff;
      font-weight: 700;
      transition: filter 0.2s;

      &:hover {
        filter: brightness(0.9);
      }
    }
  }
}
// contacts info
.contact-container {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  border-bottom: 2px solid #c9c9c9;

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 1rem 0;

    p {
      color: #727272;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 16px;
    }

    span {
      color: #3a3a3a;
      font-size: 16px;
      font-weight: normal;
    }
  }

  &__about {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    justify-content: space-between;

    .details {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      p {
        color: #727272;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 16px;
      }
    }
  }

  &__social-media {
    display: flex;
    flex-direction: column;

    span {
      color: #727272;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 16px;
      margin: 1rem 0;
    }

    .img {
      display: flex;
      gap: 1rem;
    }
  }

  &__attendance {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;

    .details {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      p {
        color: #727272;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 16px;
      }
    }

    .others {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      p {
        color: #727272;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 16px;
        margin: 1rem 0;
      }
    }
  }

  &__payment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
      color: #727272;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 16px;
    }

    .imgs {
      display: flex;
      flex-wrap: wrap;
      max-width: 227px;
      gap: 4px;
      margin-top: 1rem;
    }
  }
}

// footer
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-size: 12px;
  font-weight: 400;

  p {
    max-width: 521px;
  }

  .footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 150px;
    font-size: 11px;
  }
}
